
<div class="content">   
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height:78px;">
      <img class="icon rounded-circle float-left" style=" margin: 4px;" src="assets/images/logo/logo.png" alt="">
      <img class="icon rounded-circle float-left" src="assets/images/logo/logo-2-50x50.jpg" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">ABOUT <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">WHAT WE DO </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">PROGRAMS</a>
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          NEWS
        </a>
        <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">DAILY CHUVADI</a>
          <a class="dropdown-item" href="#">GENERAL NEWS</a>
          
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BOOK SUBSCRIPTION</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">BOOK STALL</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
      </li>
      <li class="nav-item">
          <a class="nav-link fa fa-user" href="#"> LOGIN</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="#" class="btn btn-donate bg-warning text-white " style="margin-right:50px;">
        <span class="badge rounded-circle"><i class="fa fa-heart"></i></span> Donate Now
      </a>
    </form>
  </div>
  </nav>
</div>

<!-- end navigation bar -->
<app-home></app-home>