<div class="xs-footer-section bg-dark">
  <div class="container-fluid">
  <div class="xs-footer-top-layer" style="padding-top: 40px;padding-left: 60px">
      <div class="row">
      <div class="col-md-12 col-lg-8">
                  <div class="row">
                      <div class="col-lg-6 col-md-6">
                          <div style="padding-bottom: 20px">
                              <img src="assets/images/logo/logo-2.jpg" style="border-radius: 50px;margin-right:15px;max-width: 96px;"/>
                              <img src="assets/images/logo/footer_logo.png" style="border-radius: 50px;margin-right:15px;max-width: 96px;"/>
                          </div>
                          <div style="color: #fff;padding-bottom: 20px">
                              " CANONS OF COMPASSION FOR LIVING BEINGS " <br />By St. Ramalinga Swamigal.
                          </div>
                          <div style="padding-bottom: 10px">
                              <a class="fa fa-facebook social" href="#"></a>
                          </div>
                          <div style="padding-bottom: 20px">
                              <img src="assets/images/logo/android-app-icon.png" style="height: 70px;width: 200px"/>
                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <h3 style="font-family: 'Roboto Slab', serif;font-size: 18px;color: #fff;padding-bottom: 20px">Quick links</h3>
                          
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <ul  style="color: #47a6f2;font-weight: 400; list-style-type: none;">
                                      <li style="padding-bottom: 10px"><a href="#" >About</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">What we do</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">Programs</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">News</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">Book Subscription</a></li>
                                  </ul>
                              </div>
                                  
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                  <ul style="color: #47a6f2;font-weight: 400; list-style-type: none;">
                                      <li style="padding-bottom: 10px"><a href="#">Book Stall</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">Photo Gallery</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">Contact</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">Donation</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">Privacy Policy</a></li>
                                      <li style="padding-bottom: 10px"><a href="#">Terms and Conditions</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="">
                      <div class="col-md-12" style="padding-bottom: 40px">
                          <img src="assets/images/logo/emi.jpg" class="icon" />
                          <img src="assets/images/logo/amex.jpg" class="icon"/>
                          <img src="assets/images/logo/master-card.jpg" class="icon"/>
                          <img src="assets/images/logo/visa.jpg" class="icon"/>
                          <img src="assets/images/logo/jcb.jpg" class="icon"/>
                          <img src="assets/images/logo/diners.jpg" class="icon"/>
                          <img src="assets/images/logo/net-banking.jpg" class="icon"/>
                          <img src="assets/images/logo/it-cash.jpg" class="icon"/>
                          <img src="assets/images/logo/imps.jpg" class="icon"/>
                          <img src="assets/images/logo/mobi.jpg" class="icon"/>
                        </div>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 col-md-12">
                  <h3 style="font-family: 'Roboto Slab', serif;font-size: 18px;color: #fff;padding-bottom: 20px;">Newsletter Subscription</h3>
                  
                  <form>
                      <div class="form-group">
                      <label for="inputName">Name</label>
                      <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Enter Name">
                      </div>
                      <div class="form-group">
                      <label for="inputEmail">Email</label>
                      <input type="email" class="form-control" id="inputName" placeholder="Email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
      </div>
  </div>
  </div>
  <div class="container">
  <div class="xs-copyright">
      <div class="row">
      <div class="col-lg-12">
          <div class="xs-copyright-text">
              <hr>
          <p style="color: #fff;font-size: 15px">&copy; Copyright 2018 2018 Sri Agathiyar Sanmaarga Sangam - Ongarakudil, Thuraiyur</p>
          </div>
      </div>
      </div>
  </div>
  </div>
      <div class="xs-back-to-top-wraper container">
      <a href="#" class="xs-back-to-top">
          <i class="fa fa-angle-up "></i>
      </a>
      </div>
</div>